@using Prj_Final_2017_.DTO;
@using Prj_Final_2017_.Models.util;

@{
    ViewBag.Title = "Reservations de forfait";
    //Pour afficher toutes les réservations reçues
    /*
     * Styles temporaires : éventuellement dans fichier css
     * Peut-être pas de boutons pour chercher par type de reservation
     * et juste toutes les afficher.
     *
     */
}
<div id="recherche" style="background-color: #eeeeee; border-radius:6px; padding:30px;">
    <h1>@ViewBag.Title</h1>
    <div id="description">
        <p style="text-align:justify">@ViewBag.Description</p>
    </div>
    <label class="label label-primary">Vos Reservations pour:</label><br />
    <div class="form-inline" id="boiteRecherche" style="display:inline-block;">
        <div id="choix" style="display:inline-block; margin-bottom:15px">
            <a href="/ReservationSiege" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                <br />Vol
            </a>
            <a href="/ReservationChambre" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <br />Hotel
            </a>
            <a href="/ReservationVoiture" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <br />Voiture
            </a>
            <a href="/ReservationForfait" class="btn btn-default" aria-label="Left Align" style="width:203px; margin-top:3px;">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                <strong>&nbsp;+&nbsp;</strong>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <strong>&nbsp;+&nbsp;</strong>
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <br />Forfait
            </a>
        </div>
        <br />
        <label class="label label-primary">Recherchez vos reservations:</label><br />
        <div style="display:inline-block; margin: 0px 10px 0px 0px;">
            <label class="label label-default" for="txtApresDate">Après Date</label>
            <br />
            <input class="form-control" id="txtApresDate" type="date" placeholder="aaaa-mm-jj" style="width: 180px;" />
        </div>
        <div style="display:inline-block; margin: 0px 10px 0px 0px;">
            <label class="label label-default" for="txtAvantDate">Avant Date</label>
            <br />
            <input class="form-control" id="txtAvantDate" type="date" placeholder="aaaa-mm-jj" style="width: 180px;" />
        </div>
        <br />
        @if (Session["admin"] != null) {
            bool isAdmin = (bool)Session["admin"];
            if (isAdmin) {
                <div style="display:inline-block; margin: 0px 10px 0px 0px;">
                    <label class="label label-default" for="txtIdParticulier">Id Client</label>
                    <br />
                    <input class="form-control" id="txtIdParticulier" type="text" placeholder="Id Client" style="width: 180px;" />
                </div>
                <div style="display:inline-block; margin: 0px 10px 0px 0px;">
                    <label class="label label-default" for="txtIdReservation">Id Reservation</label>
                    <br />
                    <input class="form-control" id="txtIdReservation" type="text" placeholder="Id Reservation" style="width: 180px;" />
                </div>
                <br />
            }
        }
        <input class="btn btn-primary btn-lg" id="btnOk" type="button" value="Rechercher" style="margin: 10px 5px 0px 0px;" />
        <br /><br /><br />
        <a href="/Reservation" class="btn btn-default btn-xs" aria-label="Left Align" style="width:65px; margin-top:3px;">
            Retour
        </a>
    </div>
</div>
@{
    // Section des reservations : Généré dynamiquement dans le futur

    List<ReservationForfaitDTO> reservations = ViewBag.reservations;
    if (reservations == null) {
        reservations = new List<ReservationForfaitDTO>();
    }

}
<div id="conteneurProduits" style="display:inline-block; width:100%;">
    @foreach (ReservationForfaitDTO reservationForfaitDTO in reservations) {
        ForfaitDTO forfaitDTO = ApplicationFunctions.ForfaitFacade.Read(reservationForfaitDTO.IdForfait);
        VoitureDTO voitureDTO = ApplicationFunctions.VoitureFacade.Read(forfaitDTO.IdVoiture);
        AgenceVoitureDTO agenceVoitureDTO = ApplicationFunctions.AgenceVoitureFacade.Read(voitureDTO.IdAgence);
        SiegeDTO siegeDTO = ApplicationFunctions.SiegeFacade.Read(forfaitDTO.IdSiege);
        VolDTO volDTO = ApplicationFunctions.VolFacade.Read(siegeDTO.IdVol);
        CompagnieAerienneDTO compagnieAerienneDTO = ApplicationFunctions.CompagnieAerienneFacade.Read(volDTO.IdCompagnieAerienne);
        ChambreDTO chambreDTO = ApplicationFunctions.ChambreFacade.Read(forfaitDTO.IdChambre);
        HotelDTO hotelDTO = ApplicationFunctions.HotelFacade.Read(chambreDTO.IdHotel);
        <div class="container" id="produit1" style="border: 1px solid #aaaaaa; border-radius:6px; width:100%; margin-top:10px; padding-bottom:15px;">
            <div style="display:inline-flex; max-width:900px;">
                <div id="sectionInfo" style="padding: 5px 5px 5px 15px; ">
                    <p><strong style="font-size:16px">Forfait @compagnieAerienneDTO.Nom &nbsp;-&nbsp; @hotelDTO.Nom &nbsp;-&nbsp; @agenceVoitureDTO.Nom </strong></p>
                    <p>
                        Vol : @volDTO.AeroportDepart &nbsp;-&nbsp; @volDTO.AeroportDestination
                        <br />
                        Siege : @siegeDTO.Numero
                        <br />
                        Chambre : @chambreDTO.NumeroChambre
                        <br />
                        Plaque : @voitureDTO.Plaque
                        <br />
                        Du <strong>@reservationForfaitDTO.DateReservation.ToShortDateString()</strong> au <strong>@reservationForfaitDTO.DateFinReservation.ToShortDateString()</strong>
                    </p>
                    <p>

                    </p>
                </div>
            </div>
            <div style="float:right">
                <div id="sectionBouton" style="text-align:right; margin-top:15px;">
                    <strong style="display:block; font-size:16px;">@voitureDTO.Tarif.ToString("F") $</strong>
                    <a href="/ReservationForfait/Details/@reservationForfaitDTO.IdReservationForfait" class="btn btn-primary">Voir Détails</a>
                </div>
            </div>
        </div>
    }
</div>