@using Prj_Final_2017_.DTO;
@using Prj_Final_2017_.Models.util;

@{
    ViewBag.Title = "Reservations de chambres";
    //Pour afficher toutes les réservations reçues
}



@{ /*
              * Styles temporaires : éventuellement dans fichier css
              * Peut-être pas de boutons pour chercher par type de reservation
              * et juste toutes les afficher.
              *
              */
}
<div id="recherche" style="background-color: #eeeeee; border-radius:6px; padding:30px;">
    <h1>Reservation</h1>
    <div id="description">
        <p style="text-align:justify">@ViewBag.Description</p>
    </div>
    <label class="label label-primary">Vos Reservations pour:</label><br />
    <div class="form-inline" id="boiteRecherche" style="display:inline-block;">
        <div id="choix" style="display:inline-block; margin-bottom:15px">
            <a href="/ReservationSiege" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                <br />Vol
            </a>
            <a href="/ReservationChambre" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <br />Hotel
            </a>
            <a href="/ReservationVoiture" class="btn btn-default" aria-label="Left Align" style="width:65px; margin-top:3px;">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <br />Voiture
            </a>
            <a href="/ReservationForfait" class="btn btn-default" aria-label="Left Align" style="width:203px; margin-top:3px;">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                <strong>&nbsp;+&nbsp;</strong>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <strong>&nbsp;+&nbsp;</strong>
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <br />Forfait
            </a>
        </div>
        <br /><br /><br />
        <a href="/ReservationChambre" class="btn btn-default btn-xs" aria-label="Left Align" style="width:65px; margin-top:3px;">
            Retour
        </a>
    </div>
</div>
@{
    ReservationChambreDTO reservationChambreDTO = ViewBag.reservation;
    if (reservationChambreDTO == null) {
        Response.Redirect("/ReservationChambre");
    }
}
<div id="conteneurProduits" style="display:inline-block; width:100%;">
    @{
        CompteParticulierDTO compteParticulierDTO = ApplicationFunctions.CompteParticulierFacade.Read(reservationChambreDTO.IdParticulier);
        ChambreDTO chambreDTO = ApplicationFunctions.ChambreFacade.Read(reservationChambreDTO.IdChambre);
        HotelDTO hotelDTO = ApplicationFunctions.HotelFacade.Read(chambreDTO.IdHotel);
    }
    <div class="container" id="produit1" style="border: 1px solid #aaaaaa; border-radius:6px; width:100%; margin-top:10px; padding-bottom:15px;">
        <div style="display:inline-flex; max-width:900px;">
            <div id="sectionInfo" style="padding: 5px 5px 5px 15px; ">
                <p><strong style="font-size:16px">@hotelDTO.Nom &nbsp;-&nbsp; @chambreDTO.NomChambre </strong></p>
                <p>
                    <u><strong>Compte</strong></u> : 
                    <u style="margin-left: 4px;">Courriel</u> : @compteParticulierDTO.Courriel
                    <br />
                    <u style="margin-left: 4px;">Prenom</u> : @compteParticulierDTO.Prenom
                    <br />
                    <u style="margin-left: 4px;">Nom</u> : @compteParticulierDTO.Nom
                    <br />
                    <u><strong>Hotel</strong></u> : 
                    <br />
                    <u style = "margin-left: 4px;" >Nom</u> : @hotelDTO.Nom
                    <br />
                    <u style = "margin-left: 4px;" >Categorie</u> : @hotelDTO.Categorie étoiles
                    <br />
                    <u style = "margin-left: 4px;" >Adresse</u> : @hotelDTO.Adresse &nbsp;-&nbsp; @hotelDTO.Ville
                    <br />
                    <u style = "margin-left: 4px;" >Telephone</u> : @hotelDTO.Telephone
                    <br />
                    <u style = "margin-left: 4px;" >Description</u> :
                    <div style = "margin-left: 8px;">@hotelDTO.Description</div>
                    <br />
                    <br />
                    <u><strong>Chambre</strong></u> :
                    <br />
                    <u style = "margin-left: 4px;" >Nom</u> : @chambreDTO.NomChambre
                    <br />
                    <u style = "margin-left: 4px;" >Numero</u> : @chambreDTO.NumeroChambre
                    <br />
                    <u style = "margin-left: 4px;" >Taille</u> : @chambreDTO.Taille mètres carrés
                    <br />
                    <u style = "margin-left: 4px;" >Maximum de personne</u> : @chambreDTO.MaxPersonne personnes
                    <br />
                    <u style = "margin-left: 4px;" >Description</u> :
                    <div style = "margin-left: 8px;">@chambreDTO.Description</div>
                    <br />
                </p>
                <p><u><strong>Tarif</strong></u> : @chambreDTO.Tarif.ToString("F") $</p>
                <p><u><strong>Date</strong></u> : Du <strong>@reservationChambreDTO.DateReservation.ToShortDateString()</strong> au <strong>@reservationChambreDTO.DateFinReservation.ToShortDateString()</strong></p>
            </div>
        </div>
    </div>
</div>