@model Prj_Final_2017_.Models.CompteFournisseurSiegeRegisterViewModel
@{
    ViewBag.Title = "S'inscrire";
}

<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<h1>@ViewBag.Title</h1>



@using (Html.BeginForm("Create", "CompteFournisseurSiege", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {

    <h4>Créer un nouveau compte fournisseur de sieges.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>Compte :</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Courriel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Courriel, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <h4>Compagnie A&eacute;rienne :</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Nom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Adresse, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Adresse, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ville, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Ville, new { @class = "form-control" })
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="S’inscrire" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
